.button {
    display: flex;
    flex-direction: row;
    font-size: var(--font-size-default);
    color: var(--color-white-0);
    background: var(--color-gray-3);
    padding: var(--container-padding-sm) var(--container-padding-lg);
    border-radius: var(--border-radius-xl);
    box-shadow: var(--box-shadow-sm);
    transition: all 0.3s ease;
}

.button:hover {
    background-color: var(--color-black-0);
    box-shadow: var(--box-shadow-md);
}