.button {
    display: flex;
    flex-direction: row;
    font-size: var(--font-size-default);
    color: var(--color-white-0);
    background: var(--color-blue-2); 
    padding: var(--container-padding-sm) var(--container-padding-lg);
    border-radius: var(--border-radius-sm);
    box-shadow: var(--box-shadow-blue-sm);
    transition: all 0.3s ease;
    border: var(--border-none);
}

.button:hover {
    background: var(--color-blue-3);
    box-shadow: var(--box-shadow-blue-md);
}