.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}
.content{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.desc{
    margin-top: 2px;
}