.container {
    width: var(--container-width-m);
    background: var(--color-white-0);
    border-radius: var(--border-radius-sm);
    box-shadow: var(--box-shadow-sm);
    padding: var(--container-padding-xl);
}
.content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.content > li{
    list-style: none;
    text-align: center;
}
.title{
    text-align: center; 
    color: var(--color-navy-1);
    margin-bottom: var(--margin-lg); 
}
.icon {
    width: var(--icon-sm);
    height: var(--icon-sm);
    margin-bottom: var(--margin-sm);
    color:var(--color-navy-1);
}
.title2 {
    color:var(--color-navy-1);
    margin-bottom: var(--margin-xs);
}