.container {
    width: 600px;
    background-color: #ffffff; /* bg-white */
    border-radius: 0.5rem; /* rounded-lg */
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); /* shadow-sm */
    padding: 2.5rem; /* p-10 */
}
.content {
    display: grid; /* grid */
    grid-template-columns: repeat(1, minmax(0, 1fr)); /* 기본 grid-cols-1 */
    gap: 2.5rem; /* gap-10 */
}
.content > li{
    list-style: none;
    text-align: center;
}
.title{
    font-size: 1.5rem; /* text-2xl */
    font-weight: 600; /* font-semibold */
    color: rgb(74, 144, 226); /* text-blue-600 */
    margin-bottom: 2rem; /* mb-8 */
    text-align: center; /* text-center */
}
.icon {
    width: 3rem; /* w-12 */
    height: 3rem; /* h-12 */
    margin-left: auto; /* mx-auto */
    margin-right: auto; /* mx-auto */
    margin-bottom: 1rem; /* mb-4 */
    color:rgb(74, 144, 226); /* text-blue-500 */
}
.title2 {
    font-size: 1.125rem; /* text-lg */
    font-weight: 600; /* font-semibold */
    color:rgb(74, 144, 226); /* text-blue-600 */
    margin-bottom: 0.5rem; /* mb-2 */
}
.text-gray-600 {
    color: #4b5563; /* text-gray-600 */
}
@media (min-width: 768px) {
    .content {
        grid-template-columns: repeat(3, minmax(0, 1fr)); /* md:grid-cols-3 */
    }
}