.container {
    display: flex;
    cursor: pointer;
    width: var(--container-width-s);
    background: var(--color-white-0);
    border: var(--border-slim);
    box-shadow: var(--box-shadow-sm);
    border-radius: var(--border-radius-md);
    padding: var(--container-padding-sm);
    transition: all 300ms;
}
.container:hover {
    background-color: var(--color-blue-0-0);
    box-shadow: var(--box-shadow-md);
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--container-padding-md);
    margin-left: var(--margin-sm);
}
.content{
    margin-left: var(--margin-sm);
}
.title{
    color:var(--color-blue-1);
    padding: var(--container-padding-sm);
}
.desc{
    padding: var(--container-padding-sm);
}