.container {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-align: center;
    width: var(--square-mini-w);
    height: var(--square-mini-h);
    background: var(--color-white-0);
    border: var(--border-slim);
    box-shadow: var(--box-shadow-sm);
    border-radius: var(--border-radius-md);
    padding: var(--container-padding-sm);
    transition: all 300ms;
}
.container:hover {
    background-color: var(--color-blue-0-0);
    box-shadow: var(--box-shadow-md);
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    color:var(--color-blue-1);
    padding: var(--container-padding-md);
}
.content{}
.title{
    color:var(--color-blue-1);
    padding: var(--container-padding-sm);
}
.desc{
    word-break: keep-all;
    padding: var(--container-padding-sm);
}