.outline{
    display: flex;
    justify-content: center;
}
.container{
    width: var(--container-width-s);
}
.logo{
    margin: var(--margin-lg) 0;
}
.footer{
    margin-top: var(--margin-2xl);
}
.joiner{
    display: flex;
    justify-content: center;
    margin-top: var(--margin-md);
}
.text2{
    color: var(--color-blue-2);
}