:root {
  /* Width */
  --container-width-s: 600px;
  --container-width-m: 650px;
  /* Colors */
  --color-white-0: #ffffff;
  --color-black-0: #000000;           
  --color-gray-0: #f9fafb;
  --color-gray-1: #e5e7eb;          
  --color-gray-2: #4b5563;
  --color-gray-3: #333333;
  --color-blue-gray: #58749c;
  --color-blue-0-0: #ebf8ff;      
  --color-blue-0: #5cb3ff;     
  --color-blue-1: #60a5fa;     
  --color-blue-2: #2563eb; 
  --color-blue-3: #1e50cb;
  --color-navy-1: #174172;       

  /* Font Sizes */
  --font-size-default: 16px; /* 기본 폰트 크기 */
  --font-size-xs: 0.75rem;  /* 12px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-base: 1rem;   /* 16px, 기본값 */
  --font-size-md: 1.25rem;  /* 20px */
  --font-size-lg: 1.5rem;   /* 24px */
  --font-size-xl: 2rem;     /* 32px */
  --font-size-2xl: 2.5rem;  /* 40px */

  /* Font color */
  --font-color-white: var(--color-white-0);
  --font-color-gray: var(--color-gray-0);
  --font-color-default: var(--color-gray-2);

  /* Font Weights */
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Border Radius */
  --border-radius-xs: 0.25rem;
  --border-radius-sm: 0.5rem;
  --border-radius-md: 0.85rem;
  --border-radius-xl: 2rem;

  /* Box Shadow */
  --box-shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.05);
  --box-shadow-md: 0px 4px 6px rgba(0, 0, 0, 0.1);

  --box-shadow-blue-sm: 0 1px 2px rgba(37, 100, 235, 0.3); 
  --box-shadow-blue-md: 0 4px 6px rgba(37, 99, 235, 0.4); 

  /* Padding */
  --container-padding-xl: 2.5rem;
  --container-padding-lg: 2rem;
  --container-padding-md: 1rem;
  --container-padding-sm: 0.5rem;
  --margin-xs: 0.5rem;
  --margin-sm: 1rem;
  --margin-md: 1.5rem;
  --margin-lg: 2rem;

  /* Icon size */
  --icon-xs: 1.25rem;
  --icon-default: 1.5rem;
  --icon-sm: 3rem;
  --icon-md: 4rem;

  /* border */
  --border-none: 0px;
  --border-slim: 1px solid var(--color-gray-1);
  --border-slim2: 1.5px solid var(--color-gray-1);

  /* Card Sepc */
  --square-mini-w: 200px;
  --square-mini-h: 160px;

  /* Input Box Size */
  --input-box-h: var(--font-size-2xl);
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: var(--font-size-default);
}
body {
  color: var(--font-color-default);
  background: var(--color-gray-0);
}
/* h태그 폰트 크기 정의 */
h1 {
  font-size: var(--font-size-xl); 
}
h2 {
  font-size: var(--font-size-lg); 
}
h3 {
  font-size: var(--font-size-md);
}
h4 {
  font-size: var(--font-size-base);
}
a {
  color: inherit;
  text-decoration: none;
}